<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/menu') %>
    <% function x()  { %>
        <%     alert(333) %>
        <%    } %>
    <% if (locals.hero) { %>
        <h2><%= hero.name %></h2>
        <h4>Power: <%= hero.power %> </h4>
        <div>
            <p><%= hero.description %></p>
        </div>
        <button onclick='x()'>click</button>
    <% } %>
</body>
</html>